html {
    background-color: teal;
}

.calculator {
    border: solid 1px blue;
    width: fit-content;
}

#display {
    border: solid 1px black;
    height: 100px;
    width: 400px;
    font-size: xx-large;
}

button {
    margin: 2px;
    padding: 3px;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    font-size: xx-large;
}

.number {
    background-color: turquoise;
}

.special {
    background-color: cornflowerblue;
}

.clear {
    background-color: crimson;
}

.math {
    background-color: darkmagenta;
}

.equals {
    background-color: darkslateblue;
}