html {
    background-color: teal;
}

.calculator {
    margin: 0 auto;
    background-color: rgb(0, 43, 161);
    border-radius: 30px;
    border: solid 1px blue;
    width: 430px;
    min-width: 430px;
    min-height: fit-content;
}

#display {
    text-align: right;
    color: white;
    margin: 0 auto;
    line-height: 100px;
    height: 100px;
    width: 98%;
    font-size: 75px;
}

.row0 {
    border: solid 4px black;
    border-radius: 30px;
    padding: 10px;
}

button {
    transition-duration: 0.3s;
    border: none;
    margin: 2px;
    padding: 3px;
    border-radius: 30px;
    width: 100px;
    height: 100px;
    font-size: xx-large;
}

button:hover {
    background-color: crimson;
}

.number {
    background-color: turquoise;
}

.operation {
    background-color: cornflowerblue;
}