html {
    background-color: teal;
}

.calculator {
    border: solid 1px blue;
    width: fit-content;
}

#display {
    border: solid 1px black;
    height: 100px;
    width: 400px;
    font-size: xx-large;
}

button {
    background-color: turquoise;
    width: 100px;
    height: 100px;
    font-size: xx-large;
}